<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Benefits of using our site
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
      Our site is the best
    </li>
    <li>
      You can trust us
    </li>
    <li>
      We use latest technologies
    </li>    
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Performance graph of different asset class
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
      Here we can show graphs
    </li>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Robo Advisory Advantages
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
      Our calculations are done by robots
    </li>
    <li>
      Robots don't cheat usually
    </li>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Hypothetical investment savings graph
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
      As you can see graphs below, our Benefits can't be matched
    </li>
  </mat-expansion-panel>
</mat-accordion>