<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Benefits of using our site</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
      Our site is the best
    </li>
    <li>
      You can trust us
    </li>
    <li>
      We use latest technologies
    </li>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Performance graph of different asset class</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
      Here we can show graphs
    </li>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Robo Advisory Advantages</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
      Our calculations are done by robots
    </li>
    <li>
      Robots don't cheat usually
    </li>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Hypothetical investment savings graph</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
      As you can see graphs below, our Benefits can't be matched
    </li>
  </mat-expansion-panel>
</mat-accordion>