<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav mat-tab-nav-bar>
  <span mat-tab-link routerLink=''>
    <mat-icon>home</mat-icon>
  </span>
  <a mat-tab-link routerLink="about-us">
    About Us
  </a>
  <a mat-tab-link routerLink="whats-for-you">
    Whats for you
  </a>
  <a mat-tab-link [matMenuTriggerFor]="servicesMenu">Services</a>
  <mat-menu #servicesMenu="matMenu">
    <button mat-menu-item routerLink="services/mutual-funds">Mutual Funds</button>
    <button mat-menu-item routerLink="services/comprehensive-wealth-advisory">Comprehensive Wealth Advisory</button>
    <button mat-menu-item routerLink="services/equity">Equity</button>
    <button mat-menu-item routerLink="services/corporate-solutions">Corporate Solutions</button>
  </mat-menu>
  <a mat-tab-link routerLink="learning-blogs">
    Learning/Blogs
  </a>
  <a mat-tab-link routerLink="testimonial">
    Testimonial
  </a>
  <span mat-tab-link [matMenuTriggerFor]="optionsMenu">
    <mat-icon>account_circle</mat-icon>
  </span>
  <mat-menu #optionsMenu="matMenu">
    <button mat-menu-item routerLink="options/my-account">My Account</button>
    <button mat-menu-item routerLink="options/contact-us">Contact Us</button>
    <button mat-menu-item routerLink="options/robo-advisory">Robo advisory (Metta Money)</button>
  </mat-menu>
</nav>
<router-outlet></router-outlet>