<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Benefits of investing</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <li>
        Earn Money
      </li>
      <li>
        Future planning
      </li>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Customer review</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Rohit: I have been using Dreamladder capital since January 2018. And my money has been multiplied by 20 in just 4 months. All other investments sites are theives. DC you rock!!!</p>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>FAQ</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Q. What is the procedure to change the room please?</p>
      <p>A. YOU JUST SIT DOWN</p>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Blogs feed</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      Market has shown some exceptional rise today. Modi government is the best.
    </mat-expansion-panel>
  </mat-accordion>